<%- include("partials/header.ejs") %>
<main class="flex-grow">
  <div class="pb-16">
    <!-- Hero Section -->
    <section class="bg-gray-900 text-white py-20">
      <div class="container mx-auto px-8 text-center">
        <h1 class="text-5xl lg:text-6xl font-display font-bold mb-6">
          Get in <span class="text-teal-400">Touch</span>
        </h1>
        <p class="text-2xl max-w-2xl mx-auto text-gray-200">
          Questions, collaboration ideas, or just want to say hello? We'd love
          to hear from you.
        </p>
      </div>
    </section>
    <!-- Contact Section -->
    <section class="py-16">
      <div class="container mx-auto px-8">
        <div class="flex flex-wrap -mx-4">
          <!-- Contact Information section -->
          <div class="w-full lg:w-1/3 px-4 mb-10 lg:mb-0">
            <div class="bg-white rounded-lg shadow-md p-6 h-full">
              <div class="card-body">
                <h2 class="text-4xl font-display font-bold text-gray-700 mb-6">
                  Contact <span class="text-teal-400">Information</span>
                </h2>
                <div class="space-y-6">
                  <div class="flex">
                    <div class="flex-shrink-0 mr-4">
                      <div class="bg-teal-400/10 p-5 rounded-full">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="26"
                          height="26"
                          fill="#4ecdc4"
                          class="bi bi-geo-alt"
                          viewBox="0 0 16 16"
                        >
                          <path
                            stroke="#4ecdc4"
                            stroke-width="0.5"
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                          />
                          <path
                            stroke="#4ecdc4"
                            stroke-width="0.5"
                            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                          />
                        </svg>
                      </div>
                    </div>
                    <div>
                      <h3 class="text-xl font-bold text-gray-700 mb-3">
                        Our Location
                      </h3>
                      <p class="text-gray-600 text-xl">
                        Alfreton, Derbyshire <br />England, United Kingdom
                      </p>
                    </div>
                  </div>
                  <div class="flex">
                    <div class="flex-shrink-0 mr-4">
                      <div class="bg-teal-400/10 p-5 rounded-full">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="26"
                          height="26"
                          viewBox="0 0 26 26"
                          fill="none"
                          stroke="#4ecdc4"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-mail h-6 w-6 text-teal"
                          data-id="element-285"
                        >
                          <rect
                            width="20"
                            height="16"
                            x="2"
                            y="4"
                            rx="2"
                          ></rect>
                          <path
                            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <h3 class="text-xl font-bold text-gray-700 mb-3">
                        Email Us
                      </h3>
                      <p class="text-gray-600 text-xl">
                        info@theunpaidceo.co.uk<br />
                        collaborate@theunpaidceo.co.uk
                      </p>
                    </div>
                  </div>
                  <div class="flex">
                    <div class="flex-shrink-0 mr-4">
                      <div class="bg-teal-400/10 p-5 rounded-full">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="26"
                          height="26"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#4ecdc4"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-phone h-6 w-6 text-teal"
                          data-id="element-293"
                        >
                          <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <h3 class="text-xl font-bold text-gray-700 mb-3">
                        Call Us
                      </h3>
                      <p class="text-gray-600 text-xl">
                        (+44) 123-4567<br />
                        Mon - Fri, 9am - 5pm
                      </p>
                    </div>
                  </div>
                </div>

                <div class="mt-10 pt-10 border-t border-gray-200">
                  <h3 class="text-xl font-bold text-gray-700 mb-3">
                    Follow Us
                  </h3>
                  <div class="flex space-x-4">
                    <a
                      href="https://www.instagram.com/theunpaidceo/"
                      target="_blank"
                      class="bg-teal-400/10 rounded-full hover:bg-teal-400/20 transition-colors text-xl p-5 text-teal-400 leading-0"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram h-6 w-6 text-teal" data-id="element-302"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line></svg></a>
                    <a
                      href="https://www.x.com/theunpaidceo/"
                      target="_blank"
                      class="bg-teal-400/10 rounded-full hover:bg-teal-400/20 transition-colors text-xl p-5 text-teal-400 leading-0"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter h-6 w-6 text-teal" data-id="element-304"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"></path></svg></a>
                    <a
                      href="https://www.linkedin.com/company/theunpaidceo/"
                      target="_blank"
                      class="bg-teal-400/10 rounded-full hover:bg-teal-400/20 transition-colors text-xl p-5 text-teal-400 leading-0"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin h-6 w-6 text-teal" data-id="element-306"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect width="4" height="12" x="2" y="9"></rect><circle cx="4" cy="4" r="2"></circle></svg></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Contact Form section -->
          <div class="w-full lg:w-2/3 px-4">
            <form action="/contact" method="POST" class="bg-white rounded-lg shadow-md p-6">
                  <div class="mb-4">
                    <label for="name" class="block text-gray-700 text-xl font-medium mb-1"
                      >Name<span class="text-red-600">*</span></label
                    >
                    <input
                      type="text"
                      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400"
                      id="name"
                      name="name"
                      placeholder="Your name"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-xl font-medium mb-1"
                      >Email<span class="text-red-600">*</span></label
                    >
                    <input
                      type="email"
                      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400"
                      id="email"
                      name="email"
                      placeholder="youremail@example.com"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="subject" class="block text-gray-700 text-xl font-medium mb-1"
                      >Subject<span class="text-red-600">*</span></label
                    >
                    <select
                      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400"
                      id="subject"
                      name="subject"
                      required
                    >
                      <option value="" disabled selected>
                        Select a subject
                      </option>
                      <option value="General Inquiry">General Inquiry</option>
                      <option value="Collaboration">Collaboration</option>
                      <option value="Feedback">Feedback</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="block text-gray-700 text-xl font-medium mb-1"
                      >Message<span class="text-red-600">*</span></label
                    >
                    <textarea
                      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400"
                      id="message"
                      name="message"
                      rows="5"
                      required
                      placeholder="Your message here..."
                    ></textarea>
                  </div>
                  <button type="submit" class="w-full bg-teal-400 hover:bg-teal-400/90 text-white py-3 px-6 rounded-md transition-colors flex items-center justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="26"
                      height="26"
                      fill="currentColor"
                      class="bi bi-send h-5 w-5 mr-2"
                      viewBox="0 0 16 16"
                    >
                      <path
                        path
                        stroke="#fff"
                        stroke-width="0.5"
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
                      />
                    </svg>
                    Send Message
                  </button>
                </form>
             
            
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<%- include("partials/footer.ejs") %>
