<%- include("partials/header.ejs") %>

<section class="hero">
  <div class="container-fluid w-75 mx-auto d-flex justify-content-between align-items-center">
    <div class="hero-text-content w-50">
      <h1>The <span class="unpaid">Unpayed </span>CEO</h1>
      <p class="tagline">
        Empowering women to lead their lives and businesses with confidence,
        while balancing the demands of career, family, and self-care.
      </p>
      <div class="hero-button d-flex justify-content-left">
        <a href="/form" type="button" class="btn btn-warning btn-lg"
          >Create Post</a
        >
        <a
          href="/form"
          type="button"
          class="btn btn-outline-warning btn-lg hero-outline-btn ml-4"
          >Explore Resources</a
        >
      </div>
    </div>
    <div class="w-50 hero-image p-5">
      <img src="/images/mum.jpg " alt="hero tagline" />
    </div>
    
  </div>
</section>
<main>
  <div class="container-fluid w-75 mx-auto ">
    <div class="d-flex justify-content-between align-items-center flex-row">
      <h2>Featured <span class="unpaid">Posts</span></h2>
      <a href="/" class="view-all">View all posts →</a>
    </div>

    <%- include("partials/blogCard.ejs") %>
    
  </div>

  <%- include("partials/footer.ejs") %>
</main>
