<%- include("partials/header.ejs") %>
<main class="flex flex-col">
  <section class="py-50 flex-grow flex items-center bg-gray-100 text-gray-700">
    <div class="container mx-auto px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h1 class="text-5xl font-display font-bold mb-8">Thank You for Subscribing!</h1>
        <p class="text-xl mb-10">You're now part of our community, and we're excited to share our updates with you.</p>
        <a href="/" class="bg-teal-400 hover:bg-teal-400/90 text-white text-lg px-6 py-3 rounded-md transition-colors">Go to Home</a>
      </div>
    </div>
</section>
</main>

<%- include("partials/footer.ejs") %>
